* {
  padding: 0;
  margin: 0;
}

body {
  font-family: times-new roman;
  background-color: lightpink;
}

header {
  width: 100%;
  height: 100vh;
}

.image img {
	width: 15%;
	margin: 10px;
	float: left;
	transition: all ease 0.4s;
	-webkit-transition: all ease 0.4s;
	transform: scale(1);
	-webkit-transform: scale(1);
}

.image img:hover {
	transform: scale(2.0);
	-webkit-transform: scale(2.0);
}

.inputtext{
	width: 50%;
	height: 40px;
	border: 3px solid black
	color: white;
	font size: 20px;
	padding: 0px 20px;
	float: left;
	margin-bottom: 20px;
}
.inputmessage{
	width: 55%;
	height:65px;
	border: 3px solid black
	color: white;
	font size: 20px;
	padding: 0px 10px;
	float: left;

}

.submitbutton {
	width: 150px;
	height: 65px;
	font-family: arial;
	background-color: #ECE5B6;
	color: black;
	font-size: 28px;
	border: none;
	font-weight: bold;
	float: left;
	clear: both;
	margin-top: 25px;
}

.......->contact<-.......
body{
 padding: 0;
 margin: 0;
 line-height: 1.5;
 box-sizing: border-box;
 color:rgba(248, 248, 248, 0.938);
 
}

#contact-form .container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.form-sections{
  margin-top: 5rem;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

.Form-left h1{
  color: #fff;
  padding: 0;
  margin: 0;
}

.Form-left h4{
  padding: 0;
  margin: 0;
  color: rgb(243, 235, 235);
}
.line{
  border-bottom: 2px solid rgb(12, 168, 207);
  width: 8%;
  margin-left: 0;
}
.Form-left span{
  color: rgb(187, 182, 182);
  font-weight: bold;
}

.Form-left hr{
  width: 25rem;
  margin-left: 0;
}

.Form-right h1{
  color: #fff;
  padding: 0;
  margin: 0;
}

form{
  padding-top: 2rem;
}

form h5{
  padding: 0;
  margin: 0;
  color: rgb(228, 218, 218);
}
form input{
  padding:0.6rem;
  width: 27rem;
  border: black;
  background-color:rgba(136, 133, 133, 0.3);
  color:black;
  border: none;
  outline:none;
}

form textarea{
  padding:0.6rem;
  width: 27rem;
  border: none;
  background-color:rgba(136, 133, 133, 0.3);
  color:black;
  border: none;
  outline:none;
 }

 form button{
    width: 9rem;
    background: rgb(12, 168, 207);
    padding: 5px;
    outline: none;
    border-color: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0.9rem;
    border-radius: 50px;
    cursor: pointer;
 }
      #contact-form{
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9));
        background-size: cover;
        background-position: center;
        height: auto;
        width: 100%;
         }

      .form-sections .Form-right{
        margin-top: 2rem;
        margin-bottom: 2rem;
         }
